table#ProductGridView input {
    margin: 0px;
}

.center {
    text-align: center;
}

.content {
    width: 100%;
    float: left;
}

.wrapper {
    width: 920px;
    margin: auto;
}

.menu {
    width: 100%;
    height: 40px;
    margin: 0px 0px 10px;
}

.container {
    width: 1170px;
    height: auto;
}

.navBAR {
    margin: auto;
    height: 2em;
    width: 100%;
    font-size: 28;
}


    .navBAR ul {
        padding: 0px;
    }


        .navBAR ul li {
            float: left;
            margin: 0px;
            position: relative;
            background: #E0E0E0;
            list-style-type: none;
        }


            .navBAR ul li a {
                text-decoration: none;
                color: white;
                padding: 0px;
                display: block;
                width: 250px;
                height: 50px;
                text-align: center;
                line-height: 50px;
            }

.fixed-menu {
    position: fixed;
    z-index: 1;
    top: 75px;
    height: auto;
    width: 100%;
    margin-left: -30px;
}
.user-row {
    margin-bottom: 14px;
}

    .user-row:last-child {
        margin-bottom: 0;
    }

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

    .dropdown-user:hover {
        cursor: pointer;
    }

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

    .table-user-information > tbody > tr:first-child {
        border-top: 0;
    }


    .table-user-information > tbody > tr > td {
        border-top: 0;
    }

.toppad {
    margin-top: 20px;
}